.App {
  text-align: center;
}
 
.nav-container{
  margin : 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-container{
  border: 1px solid black;
  width : 500px;
  margin : 50px auto;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding : 20px;
  border-radius: 15px;
}
input{
  padding: 12px;
  border-radius: 5px;
  border : none;
  background-color: #ccc;
  width: 300px;
}
button {
  padding : 7px;
  width: max-content;
}
